# dependencies
node_modules/

# turbo
.turbo/

# next.js
.next/
out/

# env
.env*
!.env.example

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# debug
npm-debug.log*
pnpm-debug.log*

# supabase
supabase/.temp/
